@import "tailwindcss";

@theme {
  --font-friendly: "Nunito", ui-sans-serif, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: Arial, sans-serif;
    @apply bg-gray-950 text-white;
  }
}